<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo suite 1" verbose="1" >
  <test name="Regression suite 1" >
    <classes>
      <class name="desktopapp.WelcomeScreen"/>
      <class name="desktopapp.CreatorScreen"/>
      <class name="desktopapp.Our_New_Game_Screen"/>
    </classes>
 </test>
</suite>